.all-files{
  text-align: center;
}

// body{
//   background-image: url("../images/Hogwarts-Express.png");
//   display: flex;
//   justify-content: center;
// }

.pick-amount-lable{
  font-family: "ParryHotter", sans-serif;
  font-size: 3em;
}
.amount-picker{
  font-family: "ParryHotter", sans-serif;
  text-align-last: center;
  font-size: 3em;
  width: 1em;
  height: fit-content;
}

.amount-section{
  background: url("../images/Hogwarts-Express.png") no-repeat fixed; 
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  justify-items: center;
}

.login-submit{
  border-radius: 1em;
  height: 100%;
  width: 100%;
  border:none;
  background-color: crimson;

}


.pick-player-title{
  span {
    font-size: 2em;
    font-family: "ParryHotter", sans-serif;
    text-shadow: 0 0 0 whitesmoke;
    animation-name: example 3s 0s reverse;
    animation: smoky 3s 0s reverse;
    overflow: hidden;
    display: inline-block;
    backface-visibility: hidden;
    :nth-child(even){
      animation-name: smoky-mirror;
    }
  }
}

  .pick-player-title-color{
    animation: example 8s 0s reverse infinite;
    animation-delay: 3.5s;

  }

