@font-face {
  font-family: "ParryHotter";
  src: url("../fonts/ParryHotter.ttf")format("truetype");
}

$background-color: rgba(255, 228, 196, 0.792);


// Text annomation 

@keyframes smoky {
  80% {
    text-shadow: 0 0 40px whitesmoke;
    filter:blur(50px) hue-rotate(190deg);
    color: rgb(235, 192, 0);
  }
  to {
    transform:
      translate3d(-2em, -8em, -4em)
      skewX(70deg)
      rotate(55deg)
      scale(1.5);
    color: rgb(235, 192, 0);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}

@keyframes smoky-mirror {
  80% {
    text-shadow: 0 0 40px whitesmoke; 
    filter:blur(50px) hue-rotate(90deg);
    opacity: 0.75;
    color: rgb(255, 15, 15);
  }
  to {
    transform:
      translate3d(-2em, -8em, -4em)
      skewX(70deg)
      rotate(-25deg)
      scale(2);
      color: rgb(141, 8, 141);
     text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}

@keyframes example {
  0%   {color:red; left:0px; top:0px;}
  25%  {color:yellow; left:200px; top:0px;}
  50%  {color:blue; left:200px; top:200px;}
  75%  {color:green; left:0px; top:200px;}
  100% {color:red; left:0px; top:0px;}
}


@for $item from 1 through 26 {
  span:nth-of-type(#{$item}){ 
    animation-delay: #{(1 + ($item/15))}s; 
  }
} 
